
.login-card{
    background-color: cornflowerblue;
    width: 50%;
    height: 600px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 30px dodgerblue;
    
}
.id-input{
    position: absolute;
    top: 260px;
    left: 160px;
    width: 500px;
    height: 40px;
    font-family: monospace;
    font-size: xx-large; 
    
}

.sec-input{
    position: absolute;
    top: 370px;
    left: 50px;
    width: 300px;
    height: 40px;
    font-family: monospace;
    font-size: xx-large; 
}
.dept-input{
    position: absolute;
    top: 370px;
    left: 400px;
    width: 300px;
    height: 40px;
    font-family: monospace;
    font-size: xx-large; 
}
.submit-button{
    position: absolute;
    top: 500px;
    left: 300px;
    width: 200px;
    height: 60px;
    font-size: xx-large;
    border-radius: 20px;
    transition-duration: 0.8s;
}
.submit-button:hover{
    color: white;
    background-color: black;
}
#admin-logo{
    scale: 550%;
    position: absolute;
    top: 130px;
    left: 380px;
}
#admin-head{
    font-family: Poppins;
    position: absolute;
    left: 280px;
    top: -130px;
    text-decoration: underline;
}
