

.login-card{
    background-color: cornflowerblue;
    width: 50%;
    height: 600px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 20px dodgerblue;
}
.name-input{
    position: absolute;
    top: 260px;
    left: 50px;
    width: 300px;
    height: 40px;
    font-family: monospace;
    font-size: xx-large; 
}
.id-input{
    position: absolute;
    top: 260px;
    left: 400px;
    width: 300px;
    height: 40px;
    font-family: monospace;
    font-size: xx-large; 
}
.sec-input{
    position: absolute;
    top: 370px;
    left: 50px;
    width: 300px;
    height: 40px;
    font-family: monospace;
    font-size: xx-large; 
}
.dept-input{
    position: absolute;
    top: 370px;
    left: 400px;
    width: 300px;
    height: 40px;
    font-family: monospace;
    font-size: xx-large; 
}
.submit-button{
    position: absolute;
    top: 500px;
    left: 330px;
    font-size: xx-large;
}
#login-logo{
    scale: 550%;
    position: absolute;
    top: 130px;
    left: 360px;
}
#login-head{
    position: absolute;
    left: 295px;
    top: -130px;
    text-decoration: underline; 
}