#cr1{
    position: absolute;
    top: 250px;
    left: -200px;
    
}
#cr2{
    position: absolute;
    top: 350px;
    left: -200px;
}
#cr3{
    position: absolute;
    top: 450px;
    left: -200px;
}
#cr4{
    position: absolute;
    top: 550px;
    left: -200px;
}

#roll-head{
    position: absolute;
    left: 300px;
}
#r1{
    position: absolute;
    top: 245px;
    left: 80px;
}
#r2{
    position: absolute;
    top: 345px;
    left: 80px;

}
#r3{
    position: absolute;
    top: 445px;
    left: 80px;
}
#r4{
    position: absolute;
    top: 545px;
    left: 80px;
}